/*********************************************************
***********************************************************
Enter rules that apply to ALL screen sizes and ALL pages below.  
Use the wireframe and pay attention to the way tags are 
NESTED to help you place the rules in a logical order -- 
much like an outline you create for a paper or presentation
Example: 
************************************************************/
body {
    /** Text color is identified by just "Color" **/
    background-color: peru; color: bisque; font-family: sans-serif;
  }

/**********************************************************
Enter special rules that apply to ALL SMALL SCREENS ONLY below.
Use a logical order! 

***********************************************************/


/**********************************************************
Enter special rules that apply to SOME SMALL SCREENS, if needed
Be sure to enter a comment to help identify which small screen!
Applying rules to specific pages usually involves using classes
or tags that are unique to the page.  (covered in the Classes 
modlue)  
Example: 
        /*****About page rules below *******/
      /*  .aboutspecialclass {

        } 
/*************************************************************/



header { 
  background-image: url("images\LogoSmall.png");
  min-height: 50px; 
  background-position: right top; 
  background-repeat: no-repeat;} 

/** This example included the Padding and margin attribute. didnt add much but I think this is good practice when using color backgrounds so the words pop out" **/



main {
    margin: 0;
    padding: 5px;
    content:normal ; background-color: saddlebrown;
    color: gainsboro;
  }
/**************************************************************
***************************************************************
Now it is time for the media queryrules that apply to 
LARGE SCREENS ONLY.
If a rule was created for ALL SCREENS above, and you want to 
use the same rule, DO NOT REPEAT IT! 

Start with the media query.  Remember that all the media query 
rules are NESTED witin the media query braces!  Don't delete that
last brace! 

For class purposes, use a screen width of 650px.  (This is just 
to make it easy for me to grade, not because it is the "right" 
screen size for a smartphone. 

!!!!!THERE IS ONE AND ONLY ONE @media statement!!!!! 
Do not have a second one unless you asked to code for notebooks 
or devices with different sizes.   
***************************************************************/

@media screen and (min-width: 750px)  {

 /***********************************************************
 Follow the pattern for the small screen, with appropriate
 comments to indicate the scope of the rules:  
    ALL LARGE SCREEN rules, followed by 
    RULES FOR INDIVIDUAL PAGES, if any.
*************************************************************/
  
header { 
  background-image: url("images\LogoSmall.png");
  min-height: 50px; 
  background-position: right top; 
  background-repeat: no-repeat;
}

/* This is where we determine all the  rules for regular computers. The earlier comments were a bit unclear. **/
body {
  background-color: maroon; color: moccasin; font-family: Georgia, 'Times New Roman', Times, serif;
}


}