/*********************************************************
***********************************************************
Enter rules that apply to ALL screen sizes and ALL pages below.  
Use the wireframe and pay attention to the way tags are 
NESTED to help you place the rules in a logical order -- 
much like an outline you create for a paper or presentation
Example: 
************************************************************/

ul{list-style: none;margin: 0}
dl{font-weight: normal;}
dd{font-style: italic;}

nav{ .Nav-container{color: #b47931; display: block; font-size: 1.25em;; width: 72px; ; background-color: #d47e0d;margin:1%; text-align: center;flex-direction:row;justify-content: eve;} 

}

.Cathosts-Container{ background-color: #cfa775;border-radius: 10px;border: width 90%;border-style:solid;display: flex ;flex-wrap: wrap;
  justify-content: space-evenly; image-rendering:optimizeQuality;} 

.Sponsors{ background-color: #cf8c39;flex-wrap: wrap;border-style:solid;display: flex;
    justify-content: space-around ;}

    .Sponsors >div{background-color:#cf8c39;margin: 10px;
      padding: 20px;
      font-size: 30px;} 



/**.Cathosts-Container > div{ background-color: #cf8c39;flex-wrap: wrap;
justify-content: space-evenly;} **/

body {
    /** Text color is identified by just "Color" **/

    background-image: url(..\images\Logosmall.png);background-position: right top; background-repeat: no-repeat; background-size: auto;
    background-color: #e7ba83; color: #2c2716; font-family: sans-serif;
    
 p.allergeydisclaimer{clear:right;text-align:center;}
    
   /*Main{.Container-adopted{
    display: grid;
    grid-template-columns: auto ;grid-template-rows: auto;grid-gap: 10px;}
  
    .item1{}
    .item2{}
    .item3{}
    .item4{}
    .item5{}
    .item6{}
    .item7{}
    .item8{}
  } 
 
  }

/**********************************************************
Enter special rules that apply to ALL SMALL SCREENS ONLY below.
Use a logical order! 

***********************************************************/


/**********************************************************
Enter special rules that apply to SOME SMALL SCREENS, if needed
Be sure to enter a comment to help identify which small screen!
Applying rules to specific pages usually involves using classes
or tags that are unique to the page.  (covered in the Classes 
modlue)  
Example: 
        /*****About page rules below *******/
      /*  .aboutspecialclass {

        } 
/*************************************************************/

/** This example included the Padding and margin attribute. didnt add much but I think this is good practice when using color backgrounds so the words pop out" **/



main {
    content:normal ; background-color: #dbb483;
    color: #5c5555;

    menu-h3{ font-size: xx-large;color:rgb(255, 255, 255);font-weight: bolder;}
 
 
 
  }
/**************************************************************
***************************************************************
Now it is time for the media queryrules that apply to 
LARGE SCREENS ONLY.
If a rule was created for ALL SCREENS above, and you want to 
use the same rule, DO NOT REPEAT IT! 

Start with the media query.  Remember that all the media query 
rules are NESTED witin the media query braces!  Don't delete that
last brace! 

For class purposes, use a screen width of 650px.  (This is just 
to make it easy for me to grade, not because it is the "right" 
screen size for a smartphone. 

!!!!!THERE IS ONE AND ONLY ONE @media statement!!!!! 
Do not have a second one unless you asked to code for notebooks 
or devices with different sizes.   
***************************************************************/

@media screen and (min-width: 750px)  {

 /***********************************************************
 Follow the pattern for the small screen, with appropriate
 comments to indicate the scope of the rules:  
    ALL LARGE SCREEN rules, followed by 
    RULES FOR INDIVIDUAL PAGES, if any.
*************************************************************/


/* This is where we determine all the  rules for regular computers. The earlier comments were a bit unclear. **/


/**ul{list-style: none;margin: 0;
  padding: 0;}
li{font-size: 1.25em;display: block; width: 72px; ; background-color: #d47e0d;margin:1%; text-align: center;} **/


ul{list-style: none;margin: 0}
dl{font-weight: bold;margin: 3%}
dd{font-style: italic;margin: 2% ;}

/** Flexbox rule for Wrapper**/
.wrapper{display: flex;}

/** Flexbox rule for NAV **/
nav{ .Nav-container{color: #b47931; display: block; font-size: 1.25em;; width: 72px; ; background-color: #d47e0d;margin:1%; text-align: center;flex-direction:row-reverse;height: 100vh;} 

}

/**This is the container for all the adopted hosts from the past**/


/** Colum Styles*/

* {
  box-sizing: border-box;
}

/* Creates two unequal columns that floats next to each other */
.column {
  float: left;
  padding:10px;
 height: 1600px;
  
  /* Should be removed. Only for demonstration */
  
}

.left {
  width: 12%;
}

.right {
  width: 88%; background-color: transparent;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/** End of colum Styles*/


    


body {
 background-image: url("../images/LogoLarge.png"); background-position: right top; background-repeat: no-repeat;
nav{
  /* visited link */
  a:visited {
    color: rgb(0, 20, 0); 
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(255, 192, 203);
  }
  
  /* selected link */
  a:active {
    color: blue;
  }}

  menu-h8{ aside{background-color: #36a709; color: #3a3311; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: bold;padding:0%; width: 200px; border: #000000;border-style:solid;border-radius: 10%;text-align:center;}
    
     }
aside {background-color: #b47931; color: #3a3311; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
      font-weight: bold;padding:1%; width: 750px; border: #000000;border-style: solid;border-radius: 5%;

    }


 /**I chose my colors by playing around with paint. I wanted colors that we similar to eachother so the main and body of my site were similar but different. The orginal colors were too different. The bodytext to background ratio is 8.33:1 */

background-color: #e7ba83; color: #2c2716; font-family: Georgia, 'Times New Roman', Times, serif ;



}
/**allos the the height of the main content and Nav pane to match**/
main{height: 100vh;overflow: scroll;

  /** Code for adopted cats container*/
  .Container-adopted{
    display: grid;
    grid-template-columns:2fr 1fr ;grid-template-rows: 750px;grid-gap: 10px;justify-content: stretch;}
  
    .item1{}
    .item2{}
    .item3{}
    .item4{}
    .item5{}
    .item6{}
    .item7{}
    .item8{}
  }
}

